/* Urls start with https://www.instagram.deleteme */


/*Mobile & User Agent switch Version*/
.b5itu {
    background: #313131;
}
._09ncq, .uzKWK {
    background-color: #262626;
}
.glyphsSpriteMobile_nav_type_logo, .glyphsSpriteCamera__outline__24__grey_9, .glyphsSpriteChevron_down__outline__24__grey_5, .glyphsSpriteChevron_left__outline__24__grey_9, .glyphsSpriteHome__filled__24__grey_9, .glyphsSpriteHome__outline__24__grey_9, .glyphsSpriteNew_post__outline__24__grey_9, .glyphsSpritePaging_chevron, .glyphsSpriteSearch, .glyphsSpriteSearch__outline__24__grey_9, .glyphsSpriteSearch__filled__24__grey_9, .glyphsSpriteSearch__filled__24__grey_9, .glyphsSpriteUser__filled__24__grey_9, .glyphsSpriteUser_follow__outline__24__grey_9, .glyphsSpriteUsers__outline__24__grey_9, .loggedoutSpriteFollow_Contextual_Login, .coreSpriteClose, .coreSpriteNotificationLeftChevron, .glyphsSpriteHeart__filled__24__grey_9, .glyphsSpriteSettings__outline__24__grey_9, .glyphsSpriteDirect__outline__24__grey_9, .glyphsSpriteHeart__outline__24__grey_9, .glyphsSpriteFB_Logo, .glyphsSpriteFacebook__outline__24__grey_9, .glyphsSpriteApp_twitter__outline__24__grey_9, .glyphsSpriteApp_whatsapp__outline__24__grey_9, .glyphsSpriteApp_messenger__outline__24__grey_9, .glyphsSpriteCircle__outline__24__grey_2, .glyphsSpriteCircle_check__filled__24__blue_5 {
    filter: invert(1);
}
.zGtbP {
    background: #262626;
    border-bottom: 1px solid #3c3c3c;
}
.IPQK5 {
    border: 1px solid #3c3c3c;
}
@media (max-width: 640px){
._1SP8R {
    margin-bottom: 10px;
    background: #262626;
  }
}
@media (max-width: 735px){
  ._2z6nI {
    border-top: 1px solid #2c2c2c;
  }
}
.XdXBI, .K3Sf1 {
    color: #e3e3e3;
}
._0G-TY {
    color: #dddddd;
}
.N9abW {
    background: #2f2f2f;
}
.glyphsSpriteGlyph_heart_media {
    filter: invert(1);
}
.KGiwt {
    background-color: #2f2f2f;
}
.BcJ68 {
    color: #dfdfdf;
}
.-wdIA {
    border-color: #e8e8e8;
}
.nGS-Y {
    background: #262626;
    border-color: #262626;
}
._3dEHb {
    border-top: 1px solid #313131;
}
.NaYQD.Zxlmg {
    background: #2d2d2d;
    border-top: 1px solid rgb(35, 110, 176);
    color: #e1e1e1;
}
.Zxlmg {
    color: #909090;
    background: #2d2d2d;
}
.kEGzq {
    color: #dcdcdc;
}
._9gMUf {
    background-color: #131313;
}
.jySKW {
    border-bottom: 1px solid #1f1f1f;
}
.hfWwk, .skpb0 {
    background-color: #1f1f1f;
}
._2OfRz {
    background-color: #2c2c2c;
    border-bottom: 1px solid #2c2c2c;
    border-top: 1px solid #2c2c2c;
}
.IpSxo {
    background-color: #2c2c2c;
    border-bottom: 1px solid #2c2c2c;
}
._9ezyW::before {
    background-color: rgba(0, 0, 0, 0.85);
}
.acyzA {
    background-color: #252525;
    border-bottom: 1px solid #313131;
    border-top: 1px solid #313131;
}
._472V_ {
    color: #bdbdbd;
}
.CMoMH, .X3a-9 {
    border: 1px solid #3a3a3a;
}
.X3a-9 textarea {
    color: #b2b2b2;
}
._6FEQj {
    background: #1f1f1f;
}
.BY1C7 {
    border: 2px solid #d75710;
}
.Slqrh, .eo2As>.Slqrh:first-child {
    filter: brightness(7);
}
.uKzpc {
    background: #262626;
    border-bottom: solid 1px #2f2f2f;
    color: #d9d9d9;
}
@media (max-width: 639px){
  .dL3lC {
    background: #262626;
  }
}
._7XkEo {
  background: #262626;
}
.abaSk {
    background: #313131;
    border-top: 1px solid #3a3a3a;
}
.xIOKA {
    color: #e3e3e3;
}
.y2E5d {
    border-bottom: 1px solid #3a3a3a;
}
.rZ_Tm, .lDRO1, .WaOAr {
    background: #2f2f2f;
}
.BHY8D {
    background-color: #8f8f8f;
}
.BI4qX {
    background: #3f3f3f;
}
.n1LTb .RxpZH {
    background-color: #2c2c2c;
    border-bottom: 1px solid #1b1b1b;
}
._1LqHP {
    border-bottom: 1px solid #404040;
}
.n1LTb .X7cDz {
    background-color: #242424;
    border: 1px solid #242424;
}
.Nnq7C, ._7Vxav, .w3Wrs {
    background: #262626;
}
@media (max-width: 639px){
  .BSqtQ {
    background: #262626;
  }
}
